<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.friendapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FriendApplication">
        <activity
            android:name=".TanzaniaActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaFoundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaFoundUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaFoundItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaFoundActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaServiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaServiceUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaServiceItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaServiceActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEventUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEventItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEventActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEstateDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEstateUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEstateItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEstateActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaWriterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaWriterUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaWriterItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaWriterActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDirectorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDirectorUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDirectorItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaProducerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaProducerUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaProducerItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaProducerActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEntertainDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEntertainUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEntertainItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaEntertainActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaPromoterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaPromoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaPromoItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaPromoterActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaSoundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaSoundUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaSoundItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaSoundActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDecorationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDecorationUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDecorationItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDecorationActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaUploadActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaItemsActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaFoodActivity"
            android:exported="false" />
        <activity
            android:name=".KenyaActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaFoundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaFoundUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaFoundItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaFoundActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaServiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaServiceUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaServiceItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaServiceActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEventUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEventItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEventActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEstateDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEstateUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEstateItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEstateActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaWriterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaWriterUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaWriterItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaWriterActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDirectorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDirectorUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDirectorItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaProducerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaProducerUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaProducerItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaProducerActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEntertainDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEntertainUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEntertainItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaEntertainActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaPromoterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaPromoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaPromoItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaPromoterActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaSoundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaSoundUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaSoundItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaSoundActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDecorationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDecorationUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDecorationItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDecorationActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaUploadActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaItemsActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaFoodActivity"
            android:exported="false" />
        <activity
            android:name=".NigeriaActivity"
            android:exported="false" />
        <activity
            android:name=".CountryActivity"
            android:exported="false" />
        <activity
            android:name=".FoundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FoundUploadActivity"
            android:exported="false" />
        <activity
            android:name=".FoundItemsActivity"
            android:exported="false" />
        <activity
            android:name=".FoundActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceUploadActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceItemsActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EventItemsActivity"
            android:exported="false" />
        <activity
            android:name=".EventUploadActivity"
            android:exported="false" />
        <activity
            android:name=".EventActivity"
            android:exported="false" />
        <activity
            android:name=".EstateDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EstateItemsActivity"
            android:exported="false" />
        <activity
            android:name=".EstateUploadActivity"
            android:exported="false" />
        <activity
            android:name=".EstateActivity"
            android:exported="false" />
        <activity
            android:name=".WriterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".WriterItemsActivity"
            android:exported="false" />
        <activity
            android:name=".WriterUploadActivity"
            android:exported="false" />
        <activity
            android:name=".WriterActivity"
            android:exported="false" />
        <activity
            android:name=".DirectorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DirectorItemsActivity"
            android:exported="false" />
        <activity
            android:name=".DirectorUploadActivity"
            android:exported="false" />
        <activity
            android:name=".DirectorActivity"
            android:exported="false" />
        <activity
            android:name=".ProducerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ProducerItemsActivity"
            android:exported="false" />
        <activity
            android:name=".ProducerUploadActivity"
            android:exported="false" />
        <activity
            android:name=".ProducerActivity"
            android:exported="false" />
        <activity
            android:name=".EntertainDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EntertainItemsActivity"
            android:exported="false" />
        <activity
            android:name=".EntertainUploadActivity"
            android:exported="false" />
        <activity
            android:name=".EntertainActivity"
            android:exported="false" />
        <activity
            android:name=".PromoterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PromoItemsActivity"
            android:exported="false" />
        <activity
            android:name=".PromoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".PromoterActivity"
            android:exported="false" />
        <activity
            android:name=".SoundDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SoundUploadActivity"
            android:exported="false" />
        <activity
            android:name=".SoundItemsActivity"
            android:exported="false" />
        <activity
            android:name=".SoundActivity"
            android:exported="false" />
        <activity
            android:name=".DecoItemsActivity"
            android:exported="false" />
        <activity
            android:name=".DecoDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DecoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".DecorationActivity"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ItemsActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".EnterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>